.container{
  padding: 5px 60px;
  margin: 10px 120px;
  height: 25vh;
  border-radius: 6px;
  color: inherit;
  background-color: #eee;
  text-align: center;
}

.Head{
  font-size: 42px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Bree Serif', serif;
  margin-bottom:0px ;
}

.Head2{
  margin-bottom: 15px;
  margin-top: 12px;
  font-weight: 200;
  font-size: 20px;
  letter-spacing: 2px;
}

.cakeDisplay{
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.cake{
  border: 1px solid rgba(0,0,0,.125);
  background-color: #fff;
  background-clip: border-box;
  border-radius: .25rem;
  margin: 8px 10px;
}

.cakeName{
  font-weight: bold;
  margin-bottom: 10px;
  padding:5px 10px;
}
